*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #aa2d4c;
    color: #f5ee34;
}

img{
    height: 300px;
    width: auto;
}


#title{
    font-size: 50px;
    font-weight: bolder;
}

.page-link{
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

a:link, a:visited{
    color: #49f6a8;
}
