*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    height: 300px;
    width: auto;
}


#title{
    font-size: 50px;
    font-weight: bolder;
}

.page-link{
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}